<h1>Activities</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Action Name</th>
      <th>Created At</th>
      <th>Target Title</th>
      <th>Target Type</th>
    </tr>
  </thead>
  <tbody>
    <% if (viewData?.activities.length) { %>
    <% for (const activity of viewData.activities) { %>
    <tr>
      <td>
        <%= activity.actionName %>
      </td>
      <td>
        <%= activity.createdAt %>
      </td>
      <td>
        <%= activity.targetTitle %>
      </td>
      <td>
        <%= activity.targetType %>
      </td>
    </tr>
    <% } %>
    <% } else { %>
    <tr>
      <td colspan="3" class="text-center text-danger">
        There are no activities to display
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
